.button-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 10px; 
}

button {
    flex: 1; 
    margin-right: 10px; 
}

button:last-child {
    margin-right: 10px;
}
button:last-child {
    margin-right: 0;
}
