.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the modal is on top */
}

.modal-content {
    background-color: #3d4435;/* White background for the modal */
    padding: 20px; /* Padding inside the modal */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Slight shadow */
    text-align: center; /* Center text */
}

.modal-buttons {
    margin-top: 20px; /* Space above buttons */
}

.delete-button {
    background-color: red; /* Red for delete */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Pointer cursor */
    margin-right: 10px; /* Space between buttons */
}

.cancel-button {
    background-color: darkgrey; /* Dark grey for cancel */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    padding: 10px 20px; /* Padding */
    cursor: pointer; /* Pointer cursor */
}