body {
    font-family: 'Poppins', sans-serif; 
    background-color: #3d4435;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navbar .logo {
    text-align: center;
    flex-grow: 1;
}

.navbar .links {
    display: flex;
    gap: 1rem;
}

.header {
    color: white;
    font-size: 2rem; 
    position: absolute; 
    top: 20px; 
    left: 20px; 
}

.image{
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    display: block;
  }

.textbox {
    margin-left: 1rem;
    float: left; 
}

.call-to-action {
    display: block;
    text-align: center; 
    margin-top: 2rem; 
    color: rgb(222, 92, 17); 
}
.call-to-action {
    display: inline-block;
    padding: 10px 20px;
    background-color: hsl(37, 62%, 55%); 
    color: #cb6415; 
    border: none; 
    border-radius: 5px; 
    text-align: center; 
    text-decoration: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.call-to-action:hover {
    background-color: hsl(35, 100%, 35%); 
}