/* TODO: Add sitewide styles */

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #3d4435;
    color: #fff;
}
html {
    font-family: sans-serif;
  }
  
  h1 {
    text-transform: capitalize;
  }
  
  .img {
    max-width: 200px;
    max-height: 200px;
    margin: 10px;
    display: block;
  }

.error {
    color: red;
  }
  
  button {
  padding: 5px 20px;
  margin: 10px 0;
}